@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{

    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #e7e7e7 !important;
}
.header-home {
    background-color: #2e2e2e !important;
}
.navbar-link {
    min-height: 30px !important;
}
.navbar-link-product{
    margin: 10px 0 !important;
    text-decoration: none;
    color: darkgray !important;
    transition: all 0.25s ease-in-out;
    font-size: 12px !important;
}
.navbar-link-product:hover {
    color: #fff !important;
}



.middle-navbar {
    background-color: #222;
    color: white !important;
    min-height: 100px !important;
}
.navbar-item {
    min-height: 30px;
    background-color: #222;
}
.nav-header {
    text-transform: uppercase;
    font-size: 18px !important;
    margin-top: -10px !important;
    color: white !important;
    opacity: 1;
    transition: 0.25s;
    font-weight: 500;
    margin-right: 10px !important;
}
.nav-header:hover {
    opacity: .7;
}
.trending-icon {
    height: 30px;
    display: flex;
    align-items: center;
    background: #222;
    z-index: 99;
    padding-right: 16px;
}
.button-middle-navbar {
    margin-top: -20px;
}
.button-middle-navbar-item {
    font-size: 13px !important;
    color: #fff !important;
    margin-left: 10px !important;
    border-radius: 60px !important;
    background-color: gray !important;
}
#search-navbar {
    cursor: pointer;
}
#input-search-navbar {
    opacity: 0;
    transition: all 0.25s;
    width: 0;
    height: 27px;
}

#input-search-navbar.active {
    width: 220px;
    height: 27px;
    opacity: 1;
}

.horizon {
    border: 0.5px solid white;
}

.end-navbar-item {
    margin-bottom: 10px !important;
    text-decoration: none;
    color: white!important;
    transition: .25s ease-in-out;
}
.end-navbar-item:hover {
    color: red !important;
}

.end-navbar-item-bar-icon {
    cursor: pointer;
    height: 20px;
    right: 100px !important;
}

.end-navbar-item-bar {
    height: 30px;
}

.end-navbar-item-hover {
    display: block;
    padding: 0 5px;
}
.end-navbar-item-bar:hover > .end-navbar-dropdown {
    display: block !important;
}

.end-navbar-dropdown {
    display: none !important;
    padding: 10px 0 !important;
    width: 100%;
    background-color: #e7e7e7 !important;
    color: black;
    top: 40px !important;
    left: 0;
}

.link-title-content {
    text-decoration: none !important;
}
.image-title {
    object-fit: cover;

}
.title-content {
    margin: 20px 0 !important;
    font-size: 22px !important;
    transition: 0.25s;
    font-weight: 600;
    text-decoration: none !important;
}
.title-content:hover {
    opacity: .75;
}
.title-content-main {
    font-size: 16px !important;
}

.right-title-content {
    font-size: 12px !important;
    transition: 0.25s;
    font-weight: 600;
    text-decoration: none !important;
}
.right-title-content:hover {
    opacity: .75;
}

.horizon-main {
    border: 0.1em solid gray !important;
}
.horizon-main:after {
    width: 20%;
    color: red;
}

/*footer*/

footer {
    background-color: #222;
    min-height: 200px;
}

.horizon-footer {
    border: 1px solid red;
    width: 100%;

}

.content-left-footer {
    font-size: 13px;
    color: #eeeeee;
}
.content-left-footer p{
    margin-bottom: 0 !important;
}

.content-left-footer p span {
    color: red;
}
.right-content-footer {
    margin-left: 40px !important;
}
.advertise-footer {
    color: white;
    text-transform: uppercase;
    font-weight: 600;

}
.breadcrumb {
    padding: 15px !important;
}
/*Detail*/
main {
    margin-top: -10px;
    margin-bottom: -10px;
}
.detail-main {
    min-height: 200px;
    background-color: white;
    margin-left: 10% !important;
    width: 80% !important;
}
.detail-main-content-title h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
}

@media screen and (max-width: 576px) {
    .category-movie, .notable, .right-content-main {
        width: 60% !important;
        margin-left: 20% !important;
    }
    .right-content-footer {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    #search-navbar {
        top: 5px !important;
        z-index: 100;
    }
    #input-search-navbar {
        top: 5px !important;
    }
}

